<div class="jumbotron text-center">
	<h1>Llista grups</h1>
	<Button class="btn glyphicon glyphicon-plus" ng-click="addGrup()"> Add Grup</Button>
	<table class="table table-striped">
	    <thead>
	        <tr>
	            <th>Grup</th>
	            <th># Integrants</th>
	            <th>Eliminar</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr ng-repeat="grup in grups | orderBy:'nom'">
	            <td class="text-left">{{grup.name}}</td>
	            <td class="text-left">{{grup.mida}}</td>
	            <td class="text-left"><Button class="btn glyphicon glyphicon-remove" ng-click="removeGrup(grup.name)"></Button></td>
	        </tr>
	    </tbody>
	</table>

	
</div>

<div ng-controller="ModalDemoCtrl">
    <script type="text/ng-template" id="modalNewGrupContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Nou grup</h3>
        </div>
        <div class="modal-body">
            <form role="form">
			  <div class="form-group">
			    <label for="grupName">Grup name</label>
			    <input ng-model="grup.nom" type="text" class="form-control" id="grupName" 
			    placeholder="Enter grup's name here">
			  </div>
			  <label for="portes">Portes</label>
			   <div id="portes" class="checkbox" ng-repeat="porta in portes">
			
			      <input ng-model="porta.checked" type="checkbox"> {{porta.id}} </input>
			    
			  </div>
			</form>
        </div>
        <div class="modal-footer">
        <p>{{errorMessage}}</p>
            <button class="btn btn-primary" ng-click="ok2()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>