<div class="jumbotron text-center">
	<h1>Llista users</h1>
	<Button class="btn glyphicon glyphicon-plus" ng-click="addUser()"> Add user</Button>
	<table class="table table-striped">
	    <thead>
	        <tr>
	            <th>Username</th>
	            <th>Grup</th>
	            <th class="text-right">Opcions</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr ng-repeat="user in users | orderBy:'grup'">
	            <td class="text-left">{{user.name}}</td>
	            <td class="text-left">{{user.grup}}</td>
	            <td class="text-right">
	            	<Button style="margin-left: 5px" class="btn glyphicon glyphicon-edit" ng-click=""> 
	            	<Button style="margin-left: 5px" class="btn glyphicon glyphicon-remove" ng-click="removeUser(user.name)"> 
	            	<Button style="margin-left: 5px" class="btn glyphicon glyphicon-map-marker" ng-click="go('/users/ubicacions/', user.name)"> Ubicacions</Button>
	            	<Button style="margin-left: 5px" class="btn glyphicon glyphicon-book" ng-click="go('/users/accessos/', user.name)"> Accessos</Button>
	            </td>
	        </tr>
	    </tbody>
	</table>
</div>
<div ng-controller="ModalDemoCtrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Nou usuari</h3>
        </div>
        <div class="modal-body">
            <form role="form">
			  <div class="form-group">
			    <label for="userName">User name</label>
			    <input ng-model="user.name" type="text" class="form-control" id="userName" 
			    placeholder="Enter username here">
			  </div>
			  <div class="form-group">
			    <label  for="description">Description</label>
			    <input ng-model="user.description" type="text" class="form-control" id="description" placeholder="Brief description of the user">
			  </div>
			  <div>
			  	<label for="select">Grup</label>
			  	<select id="select" class="form-control" ng-model="selected.name"  >
				  <option ng-repeat="item in items">{{item.name}}</option>
				</select>
			  </div>
			</form>
        </div>
        <div class="modal-footer">
        <p>{{errorMessage}}</p>
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>